@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.font-montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.input-group {

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 1px;
	box-sizing: border-box;
	transition: .25s all ease;
}

.label {
	display: block;
	margin-top: 12px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 8px;
}

.label {
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-size: .75rem;
	margin-bottom: 8px;
}

.label {
	display: block;
	margin-top: 12px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 8px;
}

.label {
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-size: .75rem;
	margin-bottom: 8px;
}



.input {
	color: white;
	font-size: 1.15rem;
	// width: 100%;
	width: -webkit-fill-available;
	max-width: 100%;
	padding: .5rem 1rem;
	border: 2px solid transparent;
	outline: none;
	border-radius: 1.5rem;
	background-color: rgba(255, 255, 255, 0.25);
	letter-spacing: 1px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.input:hover,
.input:focus {
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
}