* {
  --font: "Roboto", sans-serif;
  --fontOrigin: 1rem;
  /* 16px */
  --fontSmall: 0.625em;
  /* 10px */
  --fontMedium: 0.875em;
  /* 14px */
  --fontNormal: 1em;
  /* 16px */
  --fontLarge: 1.375em;
  /* 22px */
  --fontLight: 100;
  --fontRegular: 400;
  --speed: 0.65s;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  width: 40px;
  height: 40px;

  & path {
    fill: #33207b;
  }
}

.card {
  position: relative;
  border-radius: 10px;
  display: block;
  height: 80px;
  max-height: 80px;
  font-size: var(--fontOrigin);
  border-radius: 8px;
  box-shadow: 0 1px 21px rgb(8 25 107);
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  overflow: hidden;

  &:hover {
    box-shadow: 0 1px 21px rgb(255 255 255);
  }
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.card__image img {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  animation-name: zoom;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: transform 0.6s;

}


.card:hover .card__image img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.card__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card__name {
  align-self: center;
  justify-self: center;
  margin-bottom: 2px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: var(--fontLarge);
  font-weight: var(--fontRegular);
  letter-spacing: 0.1rem;
  text-align: center;
  // text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  // background: -webkit-linear-gradient(white, #a1a1a1);
  background: #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__name {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all var(--speed) ease;
  -webkit-transition: all var(--speed) ease;
}

@keyframes zoom {
  from {
    object-position: 0 50%;
  }

  to {
    object-position: 100% 50%;
  }
}

@keyframes blur {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  to {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(2, 2);
  }
}